*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

/wiki
/account-sdk
/common-sdk
/configure
/enterprise
/manual
/mine
/information
/asd
/ota
/pay
/wechat
/theme
/activity
/navigation
/lock
/personalization
/personalization-sdk
/black
adb
